#Library Management System

In [ ]:
import mysql.connector

In [ ]:
# Connect to the MySQL database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="library"
)

In [ ]:
# Create a cursor object to interact with the database
mycursor = mydb.cursor()

In [ ]:
# Create the books table if it does not exist
mycursor.execute("CREATE TABLE IF NOT EXISTS books (id INT AUTO_INCREMENT PRIMARY KEY, title VARCHAR(255), author VARCHAR(255), year INT)")

In [ ]:
# Function to add a book to the database
def add_book(title, author, year):
    sql = "INSERT INTO books (title, author, year) VALUES (%s, %s, %s)"
    val = (title, author, year)
    mycursor.execute(sql, val)
    mydb.commit()
    print(mycursor.rowcount, "book inserted.")

In [ ]:
# Function to delete a book from the database
def delete_book(id):
    sql = "DELETE FROM books WHERE id = %s"
    val = (id,)
    mycursor.execute(sql, val)
    mydb.commit()
    print(mycursor.rowcount, "book deleted.")

In [ ]:
# Function to update a book in the database
def update_book(id, title, author, year):
    sql = "UPDATE books SET title = %s, author = %s, year = %s WHERE id = %s"
    val = (title, author, year, id)
    mycursor.execute(sql, val)
    mydb.commit()
    print(mycursor.rowcount, "book updated.")

In [ ]:
# Function to view all books in the database
def view_books():
    mycursor.execute("SELECT * FROM books")
    books = mycursor.fetchall()
    for book in books:
        print(book)

In [ ]:
# Main function to run the program
def main():
    while True:
        print("\nLIBRARY MANAGEMENT SYSTEM")
        print("1. Add Book")
        print("2. Delete Book")
        print("3. Update Book")
        print("4. View Books")
        print("5. Exit")

        choice = int(input("Enter your choice: "))

        if choice == 1:
            title = input("Enter book title: ")
            author = input("Enter book author: ")
            year = int(input("Enter book year: "))
            add_book(title, author, year)

        elif choice == 2:
            id = int(input("Enter book id: "))
            delete_book(id)

        elif choice == 3:
            id = int(input("Enter book id: "))
            title = input("Enter book title: ")
            author = input("Enter book author: ")
            year = int(input("Enter book year: "))
            update_book(id, title, author, year)

        elif choice == 4:
            view_books()

        elif choice == 5:
            break

        else:
            print("Invalid choice. Try again.")

In [ ]:
# Run the main function
if __name__ == "__main__":
    main()

In [ ]:
# Close the database connection
mydb.close()